<footer>
    <section>
        <h3 class="text-center text-white pt-2">Nous suivre</h3>
        <div class="resaux d-flex justify-content-center">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
            <a href="https://fr-fr.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
        </div>
    </section>
    <p class="text-center text-white pt-3 pb-3">Au Petit Village © Tous droit réservés</p>
</footer>