main {
    background-color: #fdd90b;
}
img{
    width: 30%;
    align-items: center;
}
h1, img {
    display: flex;
    justify-content: center ;
}
h1 {
    margin: 1rem;
}
.text {
    margin: 1rem;
}

