<main>
    <div class="container mx-auto">
        <div class="text-center p-2">
            <h1>A propos de notre entreprise</h1>
        </div>
        <div class="text-center p-1">
            <section class="propos">
                <h2>Notre Mission</h2>
                Notre mission est de créer un produit de bonne qualité qui enrichissent la vie de nos clients. <br>
                Nous nous engageons à fournir des figurines innovantes et durables.
            </section>
            <section class="histoire">
                <h2>Notre Histoire</h2>
                <p>
                    Depuis notre création, nous avont parcouru un long chemin évoluant. <br>
                    Chaque étape de notre croissance a été marquée par notre engagement envers l'excellence et la satisfaction de nos clients. <br>
                </p>
            </section>
            <section class="vision">
                <h2>Notre Vision</h2>
                <p>
                    Nous aspirons à être reconnus comme un leader mondial dans notre domaine. <br>
                    En offrant des produits qui surpassent les attentes de nos clients. <br>
                    Notre vision est de créer un avenir ou nos figurines sont au centre de décoration !
                </p>
            </section>
            <section class="contacte">
                <h2>Contactez-Nous</h2>
                <p>
                    Si vous avez des questions ou souhaitez en savoir plus sur notre entreprise, n'hésitez pas à nous contacter. <br>
                    Nous serons ravis de vous aider et de répondre à toutes vos question.
                </p>
            </section>
        </div>
    </div>
    
</main>
